@charset"UTF-8"

body{
	font-size: larger;
}

#container{
	width:800px;
	margin-left: auto;
	margin-right: auto;
}

h1{
	font-size: 50px;
	width: 600px;
	margin-left: auto;
	margin-right:auto;
	margin-bottom: 50px;
	margin-top: 50px;
	color: green;
}
#intro{
	
}
h3{
	font-size: 30px;
	color: navy;
}

#howto{
	float: left;
	width: 400px;
}
p{
	border: solid;
	border-left-width: 14px;
	border-left-color:navy;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
	border-top-color: #AAAAAA;
	border-right-color: #AAAAAA;
	border-bottom-color: #AAAAAA;
	padding-left: 8px;
}
#CreateAccountButton{
	width: 200px;
	margin-top: 20px;
	margin-left: 100px;
}
#CAroot{
	float: right;
	margin-top: 100px;
}