@charset"UTF-8"

body{
	
}
.container{
	width: 800px;
	font-size: 20px;
	text-shadow: 2px 2px 5px gray;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
h2{
	
}
#right{
	width: 200px;
	float: right;
}
#left{
	width: 200px;
}