body{
	background-image: url(../img/back2.jpg);
	background-size: 3000px;
}
#Container{
	width: 1330px;
	font-size: 22px;
	margin-right:auto;
	margin-left: auto;

	}
	
#Sidebar{
	width: 190px;
	height: 900px;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	float: left;
	border-right:solid;
	border-right-width: 0px;
	border-color: #BAD7B6;	
	padding-right: 3px;
	z-index: 1;
	position: fixed;
}

#SideContent1{
	width: 184px;
	margin-top: 3px;
	margin-left: 3px;
	margin-right: 3px;
	padding-bottom: 8px;
	border-bottom: solid;
	border-bottom-width: 2px;
	border-bottom-color:  gray;
}
#SideLogo{
	width: 184px;	
}
#SideName{
	text-align: center;
	width: 155px;
	margin-top: 3px;
	margin-left: 3px;
	margin-right: 3px;
	padding-left: 8px;
	}
#SidePoint{
	text-align: center;
	width: 155px;
	margin-top: 3px;
	margin-left: 3px;
	margin-right: 3px;
	padding-left: 8px;
}
#SideContent2{
	width: 184px;
	margin-top: 8px;
	margin-left: 3px;
	margin-right: 3px;
	padding-bottom: 8px;
	border-bottom: solid;
	border-bottom-width: 2px;
	border-bottom-color:gray;
}
#SideMypage{
	text-align: center;
	width: 155px;
	margin-top: 3px;
	margin-left: 3px;
	margin-right: 3px;
	padding-left: 8px;

}
#SideAnswer{	
	text-align: center;
	width: 155px;
	margin-top: 3px;
	margin-left: 3px;
	margin-right: 3px;
	padding-left: 8px;
}
#SideContent3{
	width: 184px;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 8px;
	padding-bottom: 8px;
	border-bottom: solid;
	border-bottom-width: 2px;
	border-bottom-color:gray;
}
#SideClass{
	text-align: center;
	width: 155px;
	margin-top: 3px;
	margin-left: 3px;
	margin-right: 3px;
	padding-left: 8px;
}

#SideAbroad{
	text-align: center;
	width: 155px;
	margin-top: 3px;
	margin-left: 3px;
	margin-right: 3px;
	padding-left: 8px;
}
#SideCircle{
	text-align: center;
	width: 155px;
	margin-top: 3px;
	margin-left: 3px;
	margin-right: 3px;
	padding-left: 8px;
}
#SideNewProject{
	text-align: center;
	width: 155px;
	margin-top: 3px;
	margin-left: 3px;
	margin-right: 3px;
	padding-left: 8px;
}
#SideContent4{
	width: 184px;
	margin-top: 8px;
	margin-left: 3px;
	margin-right: 3px;
	margin-bottom: 3px;
	
	

}
#SideRule{
	text-align: center;
	width: 155px;
	margin-top: 3px;
	margin-left: 3px;
	margin-right: 3px;
	padding-left: 8px;
}
#SideBeginner{
	text-align: center;
	width: 155px;
	margin-top: 3px;
	margin-left: 3px;
	margin-right: 3px;
	padding-left: 8px;
}
#SideOpinion{
	text-align: center;
	width: 155px;
	margin-top: 3px;
	margin-left: 3px;
	margin-right: 3px;
	padding-left: 8px;
}
#SideLogout{
	text-align: center;
	width: 155px;
	margin-top: 3px;
	margin-left: 3px;
	margin-right: 3px;
	padding-left: 8px;
} 
/*Topのメインコンテンツ*/

#MainContent{
	width: 1000px;
	margin-top: 5px;
	margin-right: 80px;
	float: right;
	z-index: 1;	
	text-shadow: 2px 2px 5px gray;
}

a:link{	text-decoration: none;color: black;}
A:visited { text-decoration:none; color:black; }
A:active { text-decoration:none; color:black; }
A:hover { text-decoration:none; color:black; }

.TopLetter{
	width: 400px;
	color: #f77904;
	font-size: 60px;
	background-color: white;
}

.inputdes{
	color: white;
	width: 600px;
	padding: 10px;
	background-image:url(../img/CircleImg/sky/sky_s1.png);
	border: 0px;
	text-shadow: 2px 2px 3px black;

}
.DecoUp{
	color: white;
	text-align: center;
	padding: 5px;
	width: 200px;
	height: 30px;
	background-image: url(../img/sub-navigation.jpg);
	position: relative;
	top: 30px;
	box-shadow: 2px 2px 5px gray;
}
#file{
	position: absolute;
	height: 30px;
	width: 200px;
	opacity: 0;
}
.inputbox{
	font-size: 20px;
	color: black;
	width: 600px;
	padding:10px;
}
.textarea{
	font-size: 15px;
}
.selectarea{
	font-size:20px;
}
.checkbox{
	font-size: 20px;
}
tr{
	
}
td{
	
}
/*Mypage Start*/
#HeadMypage{
	width: 600px;
	font-size: 50px;
	text-shadow: 2px 2px 5px black;
	color: white;
	text-align: center;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	padding: 10px;	
	background-color: #4b3423;
	box-shadow: 2px 2px 10px gray;
}


#buy{
	text-align: center;
	width: 442px;
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 3px;
	padding-bottom: 30px;
	border: solid;
	border-left-width: 0px;
	border-left-color: #ef741b;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
	border-top-color: #AAAAAA;
	border-right-color: #AAAAAA;
	border-bottom-color: #ef741b;
	padding-left: 8px;
	float:right;
	background-image: url(../img/body.png);
	background-size: 450px;

}
#BuyTitle{
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-bottom-style: dashed;
	border-bottom-width: 3px;
	border-color: gray;
	color: #67462f;
	text-shadow: 2px 2px 5px gray;

}
#BuyContent{
	
}
#answer{
	text-align: center;
	width: 442px;
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 20px;
	padding-bottom: 30px;
	border: solid;
	border-left-width: 0px;
	border-left-color: #ef741b;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
	border-top-color: #AAAAAA;
	border-right-color: #AAAAAA;
	border-bottom-color: #ef741b;
	padding-left: 8px;
	float: left;
	background-image: url(../img/body.png);
	
	background-size: 450px;

}
#AnswerTitle{
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	font-size: 30px;
	color: white;
	margin-top: 20px;
	margin-bottom: 20px;
	border-bottom-style: dashed;
	border-bottom-width: 3px;
	border-color: gray;
	color: #67462f;
	text-shadow: 2px 2px 5px gray;
}
#AnswerContent{
	
}
.AnswerTipsCategoryTitle{
	text-indent: 80px;
	text-align: left;
	text-decoration: underline;
}
.AnswerTipsCategoryContent{
	font-size: 17px;
	text-indent: 100px;
	text-align: left;	
}

#AccountInfo{
	text-align: center;
	width: 442px;
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 0px;
	border: solid;
	border-left-width: 0px;
	border-left-color: #ef741b;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
	border-top-color: #AAAAAA;
	border-right-color: #080880;
	border-bottom-color: #ef741b;
	padding-left: 8px;
	float: left;
	background-image: url(../img/footer-quick-links-bottom.png);
	background-size: 450px;
	
}
#AccountTitle{
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	font-size: 30px;
	color: white;
	margin-top: 20px;
	margin-bottom: 20px;
	border-bottom-style: dashed;
	border-bottom-width: 3px;
	border-color: gray;
	color: #67462f;
	text-shadow: 2px 2px 5px gray;
}
#AccountContent{
	margin-left: 10px;
	margin-right: 10px;
	text-align: left;
}

#Blank{
	text-align: center;
	width: 442px;
	height: 700px;
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 3px;
	margin-bottom: 20px;
	border: solid;
	border-left-width: 0px;
	border-left-color: #ef741b;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
	border-top-color: #AAAAAA;
	border-right-color: #080880;
	border-bottom-color: #ef741b;
	padding-left: 8px;
	float: right;
	background-image: url(../img/footer-quick-links-bottom.png);
	background-repeat: no-repeat;
	background-size: 450px;
	
}
#BlankTitle{
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	font-size: 30px;
	color: white;
	margin-top: 20px;
	margin-bottom: 20px;
	border-bottom-style: dashed;
	border-bottom-width: 3px;
	border-color: gray;
	color: #67462f;
	text-shadow: 2px 2px 5px gray;
	
}
#BlankContent{
	margin-left: 20px;
	text-align: left;
	
}
/*Mypage End*/

/*Answer Start*/
#TopHead{
	width: 650px;
	font-size: 40px;
	text-shadow: 2px 2px 5px gray;
	color: white;
	text-align: center;
	border: groove;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom-width: 2px;
	border-bottom-color: gray;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	padding: 10px;
	background-color: #4b3423;	
	box-shadow: 2px 2px 5px gray;
}



#TopClass{
	text-align: center;
	width: 190px;
	height: 310px;
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 3px;
	border: solid;
	border-left-width: 0px;
	border-left-color: #ef741b;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
	border-top-color: #AAAAAA;
	border-right-color: #080880;
	border-bottom-color: #ef741b;
	padding-left: 8px;
	float: left;
	background-image: url(../img/footer-quick-links-bottom.png);
	background-size: 200px;
	
}
#TopClassTitle{
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	font-size: 30px;
	color: white;
	margin-top: 20px;
	margin-bottom: 20px;
	border-bottom-style: dashed;
	border-bottom-width: 3px;
	border-color: gray;
	color: #67462f;
	text-shadow: 2px 2px 5px gray;
}
#TopClassContent{
	margin-left: 10px;
	margin-right: 10px;
	text-align: left;
}
#TopBE{
	text-align: center;
	font-size: 25px;
	color: #644229;
	width: 50px;
	height: 30px;
	margin: 10px;
	padding: 10px;
	position: relative;
	left: 40px;
	text-shadow: 0px 0px 10px white;

	
}
#TopGB{
	text-align: center;
	font-size: 25px;
	color: #644229;
	width: 50px;
	height: 30px;
	margin: 10px;
	padding: 10px;
	position: relative;
	left: 40px;
	text-shadow: 0px 0px 10px white;
	}
#TopGS{
	text-align: center;
	font-size: 25px;
	color: #644229;
	width: 50px;
	height: 30px;
	margin: 10px;
	padding: 10px;
	position: relative;
	left: 40px;
	text-shadow: 0px 0px 10px white;

}
#TopAbroad{
	text-align: center;
	width: 190px;
	height: 310px;
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 3px;
	border: solid;
	border-left-width: 0px;
	border-left-color: #ef741b;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
	border-top-color: #AAAAAA;
	border-right-color: #080880;
	border-bottom-color: #ef741b;
	padding-left: 8px;
	float: left;
	background-image: url(../img/footer-quick-links-bottom.png);
	background-size: 200px;
	
}
#TopAbroadTitle{
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	font-size: 30px;
	color: white;
	margin-top: 20px;
	margin-bottom: 5px;
	border-bottom-style: dashed;
	border-bottom-width: 3px;
	border-color: gray;
	color: #67462f;
	text-shadow: 2px 2px 5px gray;
}
#TopAbroadContent{
	margin-left: 10px;
	margin-right: 10px;
	text-align: left;
}
#TopEurope{
	text-align: center;
	font-size: 20px;
	color: #644229;
	width: 90px;
	height: 28px;
	margin: 0px;
	padding: 5px;
	position: relative;
	left: 30px;
	text-shadow: 0px 0px 10px white;

	
}
#TopAfrica{
	text-align: center;
	font-size: 20px;
	color: #644229;
	width: 90px;
	height: 28px;
	margin: 0px;
	padding: 5px;
	position: relative;
	left: 30px;
	text-shadow: 0px 0px 10px white;
	}
#TopEastAsia{
	text-align: center;
	font-size: 20px;
	color: #644229;
	width: 90px;
	height: 28px;
	margin: 0px;
	padding: 5px;
	position: relative;
	left: 30px;
	text-shadow: 0px 0px 10px white;
}
#TopSEAO{
	text-align: center;
	font-size: 20px;
	color: #644229;
	width: 90px;
	height: 28px;
	margin: 0px;
	padding: 5px;
	position: relative;
	left: 30px;
	text-shadow: 0px 0px 10px white;
}
#TopNorthAmerica{
	text-align: center;
	font-size: 20px;
	color: #644229;
	width: 150px;
	height: 28px;
	margin: 0px;
	padding: 5px;
	position: relative;
	left: 5px;
	text-shadow: 0px 0px 10px white;
}
#TopSouthAmerica{
	text-align: center;
	font-size: 20px;
	color: #644229;
	width: 150px;
	height: 28px;
	margin: 0px;
	padding: 5px;
	position: relative;
	left: 5px;
	text-shadow: 0px 0px 10px white;
}

#TopCircle{
	text-align: center;
	width: 190px;
	height: 310px;
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 3px;
	border: solid;
	border-left-width: 0px;
	border-left-color: #ef741b;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
	border-top-color: #AAAAAA;
	border-right-color: #080880;
	border-bottom-color: #ef741b;
	padding-left: 8px;
	float: left;
	background-image: url(../img/footer-quick-links-bottom.png);
	background-size: 200px;
	
}
#TopCircleTitle{
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	font-size: 30px;
	color: white;
	margin-top: 20px;
	margin-bottom: 20px;
	border-bottom-style: dashed;
	border-bottom-width: 3px;
	border-color: gray;
	color: #67462f;
	text-shadow: 2px 2px 5px gray;
}
#TopCircleContent{
	margin-left: 10px;
	margin-right: 10px;
	text-align: left;
}
#TopCulture{
	text-align: center;
	font-size: 20px;
	color: #644229;
	width: 130px;
	height: 23px;
	margin: 0px;
	padding: 5px;
	position: relative;
	left: 20px;
	text-shadow: 0px 0px 10px white;
}
#TopSports{
	text-align: center;
	font-size: 20px;
	color: #644229;
	width: 130px;
	height: 23px;
	margin: 0px;
	padding: 5px;
	position: relative;
	left: 20px;
	text-shadow: 0px 0px 10px white;
}

#TopNewProject{
	text-align: center;
	width: 190px;
	height: 310px;
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 3px;
	border: solid;
	border-left-width: 0px;
	border-left-color: #ef741b;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
	border-top-color: #AAAAAA;
	border-right-color: #080880;
	border-bottom-color: #ef741b;
	padding-left: 8px;
	float: left;
	background-image: url(../img/footer-quick-links-bottom.png);
	background-size: 200px;
	
}
#TopNewProjectTitle{
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-bottom-style: dashed;
	border-bottom-width: 3px;
	border-color: gray;
	color: #67462f;
	text-shadow: 2px 2px 5px gray;
}
#TopNewProjectContent{
	margin-left: 10px;
	margin-right: 10px;
	text-align: left;
}
#TopNewProjectList{
		text-align: center;
	font-size: 20px;
	color: #644229;
	width: 130px;
	height: 23px;
	margin: 0px;
	padding: 5px;
	position: relative;
	left: 20px;
	text-shadow: 0px 0px 10px white;

}
#TopInvite{
	color: white;
	text-align: center;
	width: 400px;
	margin-top: 30px;
	margin-left: 40px;
	margin-right: 3px;
	margin-bottom: 20px;
	padding-bottom: 30px;
	border: solid;
	border-left-width: 0px;
	border-left-color: #ef741b;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
	border-top-color: #AAAAAA;
	border-right-color: #080880;
	border-bottom-color: #ef741b;
	padding-left: 8px;
	float: left;
	background-image: url(../img/orangeback.png);
	background-size: 900px;
	text-shadow: 0px 0px 5px black;
	box-shadow: 2px 2px 10px gray;

}
#TopInviteTitle{
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	font-size: 30px;
	color: white;
	margin-top: 20px;
	margin-bottom: 20px;
	border-bottom-style: dashed;
	border-bottom-width: 3px;
	border-color: white;
	text-shadow: 2px 2px 5px black;
	
}
#TopInviteContent{
	
}


.TopPanel{
	
}



/*Answer End*/


/*Class Start*/
.Classes{
	
}
.ClassesTitle{
	color: black;
	border-bottom-style:groove;
}
.ClassesDescri{
	
}
.AnswerClasses{
	text-align: center;
	width: 450px;
	float: left;
	margin-top: 40px;

}
.AnswerClassesimg{
}
.SeeClasses{
	margin-top: 40px;
	text-align: center;
	width: 450px;
	float: right;
}
.SeeClassesimg{
}

/*AnswerClass Start*/

/*AnswerClass End*/

/*ClassList Start*/
.ClassList{
	width: 500px;
	border: solid;
	border-width: 0px;
	border-left-width: 10px;
	border-left-color: #9BBB59;
}
.ClassListTitle{
	margin-top: 30px;
	margin-bottom: 30px;
}
.ClassName{
	color: white;
	font-size: 40px;
	text-shadow: 2px 2px 3px black;
	position: relative;
	z-index: 3;
	top:-123px;
	left: 15px;
	margin-bottom: -70px;
}
.ClassListContent{
	margin-bottom: -80px;
}
.ClassListCategory{
	color: white;
	text-shadow: 2px 2px 3px black;
	position: relative;
	z-index: 3;
	top:-73px;
	left: 10px;

}
.ClassListDifferent{
	position: relative;
	top:-73px;
	left: 10px;

}
/*ClassList End*/

/*Class End*/


/*Abroad Start*/
.AbroadTitle{
	border-bottom-style:groove;
}
.AbroadDescri{
	border: groove;
	padding-top: 20px;
	padding-bottom: 20px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-bottom-width: 0px;
	border-top-color: gray;
	position: relative;
	top: 530px;
}
#wmback{
	position: absolute;
	left: 300px;
}
#areas{
	width: 800px;
	position: absolute;
	left: 240px;
	top: 120px;
	background-color: aqua;
}
#area1{
	position: absolute;
	left: 75px;
	top: 107px;
}

#area2{
	position: absolute;
	left: 90px;
	top: 250px;
}#area3{
	position: absolute;
	left: 215px;
	top: 72px;
}#area4{
	position: absolute;
	left: 333px;
	top: 255px;
}#area5{
	position: absolute;
	left: 660px;
	top: 90px;
}#area6{
	position: absolute;
	left: 820px;
	top: 265px;
}#area7{
	position: absolute;
	left: 300px;
	top: 0px;
}#area8{
	position: absolute;
	left: 350px;
	top: 0px;
}#area9{
	position: absolute;
	left: 400px;
	top: 0px;
}
#couns{
	position: relative;
	left: 0px;
	top: -230px;
	z-index: 10;
	width: 800px;
	background-color: blue;
}
#uniAicons{
	width: 800px;
	position:absolute;
	left: 0px;
	top: 100px; 
	z-index: 10;
	background-color: gray;
}
#uniCicons{
	width: 800px;
	position:absolute;
	left: 0px;
	top: 0px; 
	z-index: 10;	
	background-color: green;
}
.area1icons{
	float: left;
}
.area3icons{
	float: left;
}
.areas{
}
.areatitlesheet{
	float: right;
	background-color: aqua;
	width: 400px;
	height: 400px;
}
.areatitles{
	
}
#area1big{
	
}

/*uniiconlist Start*/
#uniA1{position:absolute; left:600px; top:450px;}/*o-sutoria FH Joanneum*/
#uniA2{position:absolute; left:743px; top:580px;}/*kipurosu Intercollege*/
#uniA3{position:absolute; left:730px; top:580px;}/*kipurosu University of Nicosia*/
#uniA4{position:absolute; left:615px; top:430px;}/*cheko Masaryk University*/
#uniA5{position:absolute; left:540px; top:350px;}/*dennma-ku Aarhus University*/
#uniA6{position:absolute; left:470px; top:440px;}/*France PGSM Business School*/
#uniA7{position:absolute; left:480px; top:450px;}/*France Rouen Business School*/
#uniA8{position:absolute; left:480px; top:490px;}/*France Toulouse Business School*/
#uniA9{position:absolute; left:490px; top:500px;}/*France University of Toulouse ll-Le Mirail*/
#uniA10{position:absolute; left:530px; top:430px;}/*Germany FH Ludwigshafen*/
#uniA11{position:absolute; left:545px; top:430px;}/*Germany University of Mannheim Business School*/
#uniA12{position:absolute; left:620px; top:470px;}/*hangary University of Pecs*/
#uniA13{position:absolute; left:650px; top:330px;}/*ratobia University of Latvia*/
#uniA14{position:absolute; left:670px; top:350px;}/*ritoania Vilnius University*/
#uniA15{position:absolute; left:650px; top:350px;}/*ritoania Vytautas Magnus University*/
#uniA16{position:absolute; left:590px; top:590px;}/*malta University of Malta*/
#uniA17{position:absolute; left:505px; top:405px;}/*oranda Amsterdam University of Applied Sciences*/
#uniA18{position:absolute; left:513px; top:410px;}/*oranda HAN University of Applied Sciences*/
#uniA19{position:absolute; left:509px; top:390px;}/*oranda Hanze*/
#uniA20{position:absolute; left:520px; top:300px;}/*norway NHH*/
#uniA21{position:absolute; left:520px; top:315px;}/*norway Bergen*/
#uniA22{position:absolute; left:550px; top:300px;}/*norway Oslo*/
#uniA23{position:absolute; left:400px; top:535px;}/*portogar ISCTE*/
#uniA24{position:absolute; left:400px; top:520px;}/*porutogar catoril*/
#uniA25{position:absolute; left:670px; top:490px;}/*ru-mania Bucharest*/
#uniA26{position:absolute; left:590px; top:470px;}/*surobenia Ljubljana*/
#uniA27{position:absolute; left:430px; top:530px;}/*Spain Carlos*/
#uniA28{position:absolute; left:0px; top:0px;}/*sweden Linkoping*/
#uniA29{position:absolute; left:0px; top:0px;}
#uniA30{position:absolute; left:0px; top:0px;}
#uniA31{position:absolute; left:0px; top:0px;}
#uniA32{position:absolute; left:0px; top:0px;}
#uniA33{position:absolute; left:0px; top:0px;}
#uniA34{position:absolute; left:0px; top:0px;}
#uniA35{position:absolute; left:0px; top:0px;}
#uniA36{position:absolute; left:0px; top:0px;}
#uniA37{position:absolute; left:0px; top:0px;}
#uniA38{position:absolute; left:0px; top:0px;}
#uniA39{position:absolute; left:0px; top:0px;}
#uniA40{position:absolute; left:0px; top:0px;}
#uniA41{position:absolute; left:0px; top:0px;}
#uniA42{position:absolute; left:0px; top:0px;}
#uniA43{position:absolute; left:0px; top:0px;}
#uniA44{position:absolute; left:0px; top:0px;}
#uniA45{position:absolute; left:0px; top:0px;}
#uniA46{position:absolute; left:0px; top:0px;}
#uniA47{position:absolute; left:0px; top:0px;}
#uniA48{position:absolute; left:0px; top:0px;}
#uniA49{position:absolute; left:0px; top:0px;}
#uniA50{position:absolute; left:0px; top:0px;}
#uniA51{position:absolute; left:0px; top:0px;}
#uniA52{position:absolute; left:0px; top:0px;}
#uniA53{position:absolute; left:0px; top:0px;}
#uniA54{position:absolute; left:0px; top:0px;}
#uniA55{position:absolute; left:0px; top:0px;}
#uniA56{position:absolute; left:0px; top:0px;}
#uniA57{position:absolute; left:0px; top:0px;}
#uniA58{position:absolute; left:0px; top:0px;}
#uniA59{position:absolute; left:0px; top:0px;}
#uniA60{position:absolute; left:0px; top:0px;}
#uniA61{position:absolute; left:0px; top:0px;}
#uniA62{position:absolute; left:0px; top:0px;}
#uniA63{position:absolute; left:0px; top:0px;}
#uniA64{position:absolute; left:0px; top:0px;}
#uniA65{position:absolute; left:0px; top:0px;}
#uniA66{position:absolute; left:0px; top:0px;}
#uniA67{position:absolute; left:0px; top:0px;}
#uniA68{position:absolute; left:0px; top:0px;}
#uniA69{position:absolute; left:0px; top:0px;}
#uniA70{position:absolute; left:0px; top:0px;}
#uniA71{position:absolute; left:0px; top:0px;}
#uniA72{position:absolute; left:0px; top:0px;}
#uniA73{position:absolute; left:0px; top:0px;}
#uniA74{position:absolute; left:0px; top:0px;}
#uniA75{position:absolute; left:0px; top:0px;}
#uniA76{position:absolute; left:0px; top:0px;}
#uniA77{position:absolute; left:0px; top:0px;}
#uniA78{position:absolute; left:0px; top:0px;}
#uniA79{position:absolute; left:0px; top:0px;}
#uniA80{position:absolute; left:0px; top:0px;}
#uniA81{position:absolute; left:0px; top:0px;}
#uniA82{position:absolute; left:0px; top:0px;}
#uniA83{position:absolute; left:0px; top:0px;}
#uniA84{position:absolute; left:0px; top:0px;}
#uniA85{position:absolute; left:0px; top:0px;}
#uniA86{position:absolute; left:0px; top:0px;}
#uniA87{position:absolute; left:0px; top:0px;}
#uniA88{position:absolute; left:0px; top:0px;}
#uniA89{position:absolute; left:0px; top:0px;}
#uniA90{position:absolute; left:0px; top:0px;}
#uniA91{position:absolute; left:0px; top:0px;}
#uniA92{position:absolute; left:0px; top:0px;}
#uniA93{position:absolute; left:0px; top:0px;}
#uniA94{position:absolute; left:0px; top:0px;}
#uniA95{position:absolute; left:0px; top:0px;}
#uniA96{position:absolute; left:0px; top:0px;}
#uniA97{position:absolute; left:0px; top:0px;}
#uniA98{position:absolute; left:0px; top:0px;}
#uniA99{position:absolute; left:0px; top:0px;}
#uniA100{position:absolute; left:0px; top:0px;}
#uniA101{position:absolute; left:0px; top:0px;}
#uniA102{position:absolute; left:0px; top:0px;}
#uniA103{position:absolute; left:0px; top:0px;}
#uniA104{position:absolute; left:0px; top:0px;}
#uniA105{position:absolute; left:0px; top:0px;}
#uniA106{position:absolute; left:0px; top:0px;}
#uniA107{position:absolute; left:0px; top:0px;}
#uniA108{position:absolute; left:0px; top:0px;}
#uniA109{position:absolute; left:0px; top:0px;}
#uniA110{position:absolute; left:0px; top:0px;}
#uniA111{position:absolute; left:0px; top:0px;}
#uniA112{position:absolute; left:0px; top:0px;}
#uniA113{position:absolute; left:0px; top:0px;}
#uniA114{position:absolute; left:0px; top:0px;}
#uniA115{position:absolute; left:0px; top:0px;}
#uniA116{position:absolute; left:0px; top:0px;}
#uniA117{position:absolute; left:0px; top:0px;}
#uniA118{position:absolute; left:0px; top:0px;}
#uniA119{position:absolute; left:0px; top:0px;}
#uniA120{position:absolute; left:0px; top:0px;}
#uniA121{position:absolute; left:0px; top:0px;}
#uniA122{position:absolute; left:0px; top:0px;}
#uniA123{position:absolute; left:0px; top:0px;}
#uniA124{position:absolute; left:0px; top:0px;}
#uniA125{position:absolute; left:0px; top:0px;}
#uniA126{position:absolute; left:0px; top:0px;}
#uniA127{position:absolute; left:0px; top:0px;}
#uniA128{position:absolute; left:0px; top:0px;}
#uniA129{position:absolute; left:0px; top:0px;}
#uniA130{position:absolute; left:0px; top:0px;}
#uniA131{position:absolute; left:0px; top:0px;}
#uniA132{position:absolute; left:0px; top:0px;}
#uniA133{position:absolute; left:0px; top:0px;}
#uniA134{position:absolute; left:0px; top:0px;}
#uniA135{position:absolute; left:0px; top:0px;}
#uniA136{position:absolute; left:0px; top:0px;}
#uniA137{position:absolute; left:0px; top:0px;}
#uniA138{position:absolute; left:0px; top:0px;}
#uniA139{position:absolute; left:0px; top:0px;}
#uniA140{position:absolute; left:0px; top:0px;}
#uniA141{position:absolute; left:0px; top:0px;}
#uniA142{position:absolute; left:0px; top:0px;}
#uniA143{position:absolute; left:0px; top:0px;}
#uniA144{position:absolute; left:0px; top:0px;}
#uniA145{position:absolute; left:0px; top:0px;}
#uniA146{position:absolute; left:0px; top:0px;}
#uniA147{position:absolute; left:0px; top:0px;}
#uniA148{position:absolute; left:0px; top:0px;}
#uniA149{position:absolute; left:0px; top:0px;}
/*uniiconlist End*/

/*AbroadTips Start*/
#Abroaduploadimg{
	width:200px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}
.AbroadImg{
	width: 510px;
	height: 340px;
	margin-top: 50px;
	position: absolute;
	z-index: -1;
	left:820px;
	top: 160px;
	position: fixed;
	box-shadow: 2px 2px 5px black;
	
}
.AbroadListTitle{
	margin-top: 30px;
	margin-bottom: -100px;
}
.AbroadName{
	color: white;
	font-size: 50px;
	text-shadow: 2px 2px 3px black;
	position: relative;
	z-index: 3;
	top:-163px;
	left: 30px;
	margin-bottom: -90px;
}
.AbroadListContent{
	width:530px;
	margin-top: 30px;
	margin-bottom: -80px;
}
.AbroadListCategorySet{
	width: 900px;
	box-shadow: 2px 2px 5px gray;
	background-image: url(../img/cbb2.jpg);
}
.AbroadListCategory{
	color: white;
	font-size: 25px;
	text-shadow: 2px 2px 3px black;
	position: relative;
	z-index: 3;
	top:-90px;
	left: 10px;
}
.AbroadListCategoryimg{
	width: 300px;
	height: 60px;
	position: relative;
	left: -10px;
	top:-10px;
	box-shadow: 2px 2px 5px gray;
}
.AbroadListDifferent{
	width: 500px;
	font-size: 20px;
	position: relative;
	top:-63px;
	left: 10px;

}

/*AbroadTips End*/

/*Abroad End*/

/*Circles start*/
#Circle{
	width: 950px;
}
#CircleTitle{
	border-bottom: groove;
}
#CircleDescri{
}
#CultureCircles{
	float: left;
	width: 450px;
}
#CultureCirclesTitle{
	text-indent: 30px;
	background-image: url(../img/side/side4.png);
	background-repeat: no-repeat;
	background-position-y: 23px;

}
#SportsCircles{
	width: 450px;
	float: right;
}
#SportsCirclesTitle{
	text-indent: 30px;
	background-image: url(../img/side/side5.png);
	background-repeat: no-repeat;
	background-position-y: 23px;

}

/*ClubCircleList Start*/
.ClubCircleList{
	width: 500px;	
}
.AnswerBox{
	text-align: center;
	width: 400px;
	height: 100px;
	position: relative;
	left: 650px;
	top:-130px;
}
#uploadimg{
	width:200px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}
.ClubCircleImg{
	width: 510px;
	height: 340px;
	margin-top: 50px;
	position: absolute;
	z-index: -1;
	left:820px;
	top: 160px;
	position: fixed;
	box-shadow: 2px 2px 5px black;
	
}
.ClubCircleListTitle{
	margin-top: 30px;
	margin-bottom: -100px;
}
.ClubCircleName{
	color: white;
	font-size: 50px;
	text-shadow: 2px 2px 3px black;
	position: relative;
	z-index: 3;
	top:-163px;
	left: 30px;
	margin-bottom: -90px;
}
.ClubCircleListContent{
	width:530px;
	margin-top: 30px;
	margin-bottom: -80px;
}
.ClubCircleListCategorySet{
	width: 530px;
	box-shadow: 2px 2px 5px gray;
	background-image: url(../img/cbb2.jpg);
}
.ClubCircleListCategory{
	color: white;
	font-size: 25px;
	text-shadow: 2px 2px 3px black;
	position: relative;
	z-index: 3;
	top:-90px;
	left: 10px;
}
.ClubCircleListCategoryimg{
	width: 300px;
	height: 60px;
	position: relative;
	left: -10px;
	top:-10px;
	box-shadow: 2px 2px 5px gray;
}
.ClubCircleListDifferent{
	width: 500px;
	font-size: 20px;
	position: relative;
	top:-63px;
	left: 10px;

}
/*ClubCircleList End*/

/*Circles End*/



/*NewProject Start*/
.NewProject{
	
}
.NewProjectTitle{
	border-bottom: groove;
	font-size: 50px;
}
.NewProjectDescri{
	margin-bottom: 50px;
}
.AnswerProject{
	text-align: center;
	width: 450px;
	float: right;
}
.AnswerProjectimg{
	
}
.SeeProject{
	text-align: center;
	width: 450px;
	float: left;
}
.SeeProjectimg{
	
}
#ProjectListBox{
	border:solid;
	border-width: 2px;
	border-color: #cdd4fd;
	box-shadow: 0px 0px 10px gray;
	padding: 30px;
}
.project{
	font-size: 30px;
	color: blue;
	padding: 15px;
	margin: 30px;
	text-shadow: 2px 2px 5px gray;
}
/*NewProject End*/

/*Form Start*/
#Opinion{
	
}
#OpinionTitle{
	margin-top: 30px;
	text-shadow: 2px 2px 5px gray;
}
#OpinionCenterTitle{
	margin-top: 30px;
	text-shadow: 2px 2px 5px gray;
	position: relative;
	left: 130px;
}
#OpinionForm{
	
}
#OpinionInputLeft{
	width: 600px;
	margin-top: 30px;
	float: left;
}
#OpinionInputRight{
	width: 450px;
	float: right;
}
#OpinionInputCenter{
	width: 600px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}
#OpinionSubmitimg{
	margin-top: 30px;
	position: relative;
	left:170px;
}
#OpinionSubmitimgNPanswer{
	margin-top: 30px;
	position: relative;
	left: 300px;
	top:0px;
}
#OpinionEnd{
	clear: both;
}

/*Form End*/

/*Rule Start*/
#RuleTitle{
	background-color: lime;
}
#RuleContent{
	}
#RuleQuestionaire{
	padding-top: 0px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	background-image: url(../img/column-box-bottom.jpg);
	box-shadow: 2px 2px 5px gray;
}
#RuleOpenInfoManage{
	padding-top: 0px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	background-image: url(../img/column-box-bottom.jpg);
	box-shadow: 2px 2px 5px gray;
}
#RuleAccountManage{
	padding-top: 0px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	background-image: url(../img/column-box-bottom.jpg);
	margin-bottom: 30px;
	box-shadow: 2px 2px 5px gray;
}
.RuleContentTitles{
	font-size: 25px;
	width: 280px;
	height: 40px;
	padding: 5px;
	text-align: center;
	color: white;
	background-color: #4b3423;
	text-shadow: 2px 2px 5px black;
	box-shadow: 2px 2px 5px gray;
	position: relative;
	top: -10px;
	left: -30px;
}
/*Rule End*/